# Python
__pycache__/
*.pyo
*.pyd
*.pkl
*.ipynb_checkpoints
*.egg-info/
dist/
build/

# Virtual Environment
.venv/
env/
venv/
ENV/
.Python

# Environment Variables
.env
.env.*

# Streamlit
.streamlit/secrets.toml
.streamlit/config.toml
setup.py
config.toml
# Auth/Secrets
config.toml
*.key
*.pem

# Jupyter Notebook
.ipynb_checkpoints/

# OS-specific
.DS_Store
Thumbs.db

# Reports / Logs / Outputs
reports/
*.pdf
*.html
*.log

# Editor junk
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Docker
*.container
*.pid
*.docker-compose.override.yml
*.docker-compose.yml


# CI/CD artifacts
.github/workflows/__pycache__/

# Data files
data/example.csv
data/*.xlsx
data/*.csv
Test
setup.py

# Profiling reports
*.profile
*.cprofile

# Pytest
.pytest_cache/
coverage/
htmlcov/
.cache/
config
fix_admins.py